<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/font-awesome_6.4.2_css_all.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="/css/responsive.bootstrap5.min.css" />
    <link rel="stylesheet" href="/css/sweetalert2.min.css" />
    <link rel="stylesheet" href="/css/select2.min.css" />
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/glightbox.min.css" />
    <link rel="stylesheet" href="/css/toastr.min.css" />

        
    <script type="text/javascript" src="/js/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="/js/toastr.js.map"></script>
    <script type="text/javascript" src="/js/toastr.min.js"></script>
    <script type="text/javascript" src="/js/toastr-options.js"></script>
    <script type="text/javascript" src="/js/font-awesome_6.4.2_js_all.min.js"></script>
  </head>
  <body>
    <%- body %> 

    <% if (mensajes && mensajes.length> 0) { %>
        <% mensajes.forEach(message=> { %>            
            <script type="text/javascript" >
                toastr["<%- message.type %>"]("<%-  message.message[0].msg %>")
            </script>
        <% }) %>
    <% } %>

    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/select2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
    <script
      type="text/javascript"
      src="/js/dataTables.bootstrap5.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/js/dataTables.responsive.min.js"
    ></script>
    <script type="text/javascript" src="/js/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="/js/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="/js/sticky-kit.min.js"></script>
    <script type="text/javascript" src="/js/glightbox.min.js"></script>
    <script type="text/javascript" src="/js/datatables.inicial.js"></script>
  </body>
</html>
