<div
  class="w-100 fondoimg"
  style="
    height: 100vh !important;   
  "
>
  <div
    class="container w-100 h-100 d-flex justify-content-center align-items-center"
  >
    <form action="/login/ingresar" method="post">
      <div class="card shadow-lg" style="width: 500px !important;" >
        <div class="card-header bg-success text-white text-center fs-5">
          Login
        </div>
        <div class="card-body">
          <div class="form-group mb-3">
            <label for="username">Email</label>
            <input type="text" name="Email" id="Email" class="form-control" />
          </div>
          <div class="form-group mb-3">
            <label for="password">Contraseña</label>
            <input
              type="password"
              name="Password"
              id="Password"
              class="form-control"
            />
          </div>
          <button type="submit" class="btn btn-outline-success btn-block w-100">
            Ingresar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
