.swiper {
  width: 100% !important;
  height: 390px !important;
  padding: 10px 0px !important;
  position: relative !important;
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 300px !important;
  height: 390px !important;
}

.swiper-slide img {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.boxImg:hover {
  width: calc(100% + 50px);
  max-width: calc(100% + 50px);
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(-40px, 0, 0);
}

.fondoimg {
  background: linear-gradient(
      to left top,
      #e6e7e789,
      #b3b4b482,
      #83838383,
      #5656568a,
      #2c2c2c89
    ),
    url(../assets/fondo.jpg) no-repeat center/cover !important;
  width: 100%;
}
