<div
  class="offcanvas offcanvas-end"
  style="width: 500px !important; z-index: 9999;"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Carrito de compras</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div
    id="ContainerCarrito"
    style="overflow-y: scroll"
    class="offcanvas-body"
  ></div>
  <div id="FooterCarrito"></div>
</div>