<template id="search-result-template">
  <div class="card" style="width: 17rem">
    <div class="overflow-hidden">
      <img
        style="
          object-fit: cover !important;
          height: 200px !important;
          cursor: pointer !important;
        "
        class="search-result__imagen img-fluid card-img glightbox boxImg"
        alt=""
      />
    </div>
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">          
            <h5 class="search-result__title card-title text-success"></h5>                    
            <p class="search-result__precio card-text text-danger fs-4"></p>          
        </div>
    </div>
    <div class="card-body"> 
      <div class="mb-2">
        <button class="btn btn-info btn-toggle-comment"   >
          <i class="fas fa-eye" ></i>  Descripción
        </button>
      </div>     
      <blockquote   class="post-comment" >
        <p class="search-result__descripcion card-text"></p>
      </blockquote>                        
      <button
        type="submit"
        data-Id=""      
        class="search-result__boton btn btn-outline-success d-block w-100"
      >
        Comprar
      </button>
    </div>
  </div>
</template>
