<div id="content" class="container-fluid p-3">
    <div class="row">
      <div class="col col-sm-12  col-md-12 col-lg-3">
        <div class="card w-100">
          <div class="card-header bg-success">
            <div class="card-title text-white">Categoria</div>
          </div>
          <div class="card-body">
            <ul class="list-group text-white">
              <% mostrarCategoria.forEach(element=> { %>
              <button
                class="list-group-item list-group-item-action"
                data-iDCategoria="<%-element.IdCategoria%>"
              >
                <%- element.Nombre %>
              </button>
              <% }) %>
              <button
                class="list-group-item active list-group-item-action"
                data-iDCategoria="null"
              >
                Mostrar todas
              </button>
            </ul>
          </div>
        </div>
      </div>
      <div class="col  col-sm-12  col-md-12 col-lg-9 ">
        <div
          id="search-results"
          class="container-fluid  d-flex gap-3  flex-wrap "
        ></div>
      </div>
    </div>
  </div>